{% extends "@Contao/be_main" %}

{% block headline %}
{% endblock %}
{% block main_content %}
<style>#main_headline{display:none}</style>
   <h1 style="font-size:180px;">birdsinthesun </h1>
    <div >
      <img src="{{ asset('images/logo.png', 'themply') }}" alt="Logo">
      <br>
      <h2 style="font-size:120px;">Hello Themply: {{ number }}</h2> 
      <br>
     Das xxx Theme wurde erfolgreich generiert.
    </div>

 <iframe src="https://bootswatch.com/quartz/" title="Quartz"
  style="border: 3px dotted black; width: 960px; height: 600px;">
</iframe> 

{% endblock %}