{% extends "@Contao/be_main" %}

{% block headline %}
{% endblock %}
{% block main_content %}
<style>#main_headline{display:none}</style>
   <h1 style="font-size:180px;">birdsinthesun</h1>
    <div >
      <img src="/vendor/birdsinthesun/themply/icon.png" alt="Logo"><br>
      <h2 style="font-size:120px;">Hello Themply: {{ number }}</h2> 
    </div>
{% endblock %}